.title{
font-weight: 700;
font-style: Bold;
letter-spacing: 0%;
text-align: right;
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.btn-one{
    width: 127px;
    flex-shrink: 0;
    height: 40px;
    border-radius: 4px;
    background-color: #B87B02;
    color: white;
    border: none;
    cursor: pointer;
    
}
.btn-text{
    margin: 0;
}
#btn-pass{
    width: 56px;
    height: 40px; 
}
#btn-pass {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 40px
}
#btn-pass img {
    width: auto;
    height: auto; 
}
#inputs-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media screen and (max-width: 1110px){
    #main-layout {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #code-form{
        /* width: 100%; */
        height: auto;
    }
    #image-container{
        display: none;
    }
    
}
@media screen and (max-width: 480px) {
    #main-layout {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #image-container{
        display: none;
    }
}